@media screen and (max-width: 600px) {
    .page__content span,
    .page__content ul {
        font-size: 0.825em;
        padding-left: 1.25em;
    }
}

.cv-section h2 {
    margin-top: 1em;
}

.float-left {
    float: left;
    font-weight: bold;
}

.float-right {
    float: right;
    font-style: italic;
}

.cv-item {
    margin-bottom: 0;
}

.cv-list {
    margin-top: 0;
}
